<!DOCTYPE html>
<html>
<head>
    <title>Artist info</title>
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/artistinfo.css">
</head>
<body>
<div class="container">
    <div class="text-center">
        <a href="index.html"><h2 class="mt-5 mb-5 gt-artist-info"> GROUPIE-TRACKER </h2></a>
    </div>

    <div class="title">{{.Artist.Name}}</div>
    <img src="{{.Artist.Image}}" alt="Изображение артиста" class="artist-image">
    <table>
        <tr>
            <th colspan="2">Информация об артисте</th>
        </tr>
        <tr>
            <td><strong>Члены:</strong></td>
            <td>{{range .Artist.Members}}{{.}}, {{end}}</td>
        </tr>
        <tr>
            <td><strong>Дата создания:</strong></td>
            <td>{{.Artist.CreationDate}}</td>
        </tr>
        <tr>
            <td><strong>Первый альбом:</strong></td>
            <td>{{.Artist.FirstAlbum}}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th colspan="2">Связи</th>
        </tr>
        {{range $location, $dates := .Relation.DatesLocations}}
            <tr>
                <td><strong>{{$location}}:</strong></td>
                <td>
                    <ul class="relation-list">
                        {{range $dates}}
                            <li class="relation-item">{{.}}</li>
                        {{end}}
                    </ul>
                </td>
            </tr>
        {{end}}
    </table>
</div>
</body>
</html>